<!-- <app-missing-number></app-missing-number> -->
<!-- <app-mobile-form></app-mobile-form> -->
<div class="container">
  <br>
  <div align='center' class="buttons" fxLayoutAlign='row wrap' fxLayoutGap = '10px'>
    <button routerLink = "/question1" mat-raised-button color='primary'>Question 1</button>
    <button disabled mat-raised-button color='primary'>Question 2</button>
    <button routerLink = "/question3" mat-raised-button color='primary'>Question 3</button>
    <button routerLink = "/question4" mat-raised-button color='primary'>Question 4</button>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>